.Group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.Item {
    min-width: 80px;
    border-radius: 4px;
    margin: 0;
    padding: 4px 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.Ready {
    cursor: pointer;
}

.Ready:hover {
    background-color: #f5f5f5;
    border-color: #c2c2c2;
    box-shadow: 0px 2px 4px #c2c2c2;
}

.Ready:active {
    background-color: #c2c2c2;
}

.Correct {
    border-color: transparent;
    background-color: #00c500;
    color: whitesmoke;
}

.Incorrect {
    border-color: transparent;
    background-color: #f50000;
    color: whitesmoke;
}

.Choosen {
    opacity: 0.5;
    color: #303030;
    background-color: #ccc;
}