.Card {
    width: 80vw;
    font-family: 'Segoe UI';
    margin: 12px 0;
    border: solid 1px lightgray;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.Card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 255, 0.1);
}

.Header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 24px 24px 0 24px;
}

.word{
    font-weight: bold;
    font-size: 2rem;
}

.transcript{
    font-size: 1.2rem;
}

.Content {
    padding: 12px 24px;
}

.Footer {
    padding: 16px 24px 16px 24px;
    background-color: #F2F2F2;
    border-radius: 0 0 8px 8px;
}